@charset "utf-8";
/* CSS Document */

form
	{
		text-align:center;
	}

fieldset{
			position:relative;
			height:150px;
			border-radius:25px;
			border-color:#FFFFFF;
		}
	
div {
		position:relative;
  		margin: .4em 0;
	}
	
div label 
	{
		position:relative;
  		width: 35%;
  		float: left;
	}

div input
	{
		position:relative;
		width:140px;
		display:inline;
	}

